html{
    scroll-behavior: smooth;
}

body{
    margin: 0;
    background-color: #87CEEB;
    color: #111111;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
nav{/*gives settings for how navigation works in the site*/
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: nowrap;
    gap: 45px;/*gap between the different elements in the nav container*/
    padding: 30px 20px;/* vertical horizontal gap between the text and the edge(top) of the screen*/
    font-family: Arial, Helvetica, sans-serif;/*sets the font family for nav specificly*/
    font-size: 16px;/*sets the font size*/
}
nav a{/*this applies settings to every item in the nav container*/
    color: #111111;
    text-decoration: none;
}
nav a:hover{
    text-decoration: underline;
}
/*Class Selectors. they work like a class declaration, anything that refrences them constructs a class with thier form*/

.topMenu{
    font-size: 30px;
}
.currentPageName{
    font-weight: bold;
}

/*REFERING TO THE HOMEPAGE*/
.home {
    min-height: calc(100vh - 80px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 1400px;
    margin: auto;
    padding: 0 50px 100px 50px;/*top right bottom left*/
    transform: translateY(-50px)
}
.titleWord {
    font-size: 180px;
    font-weight: normal;
    margin: 0;
}
.nounLabel {
    font-size: 50px;
    font-style: italic;
    margin-left: 15px;
}
.pronunciation {
    margin-left: 10px;
    font-size: 50px;
    margin-top: 0px;
    margin-bottom: 30px;
}
.pronunciationButton{
    padding: 0px;
    border: none;
    background: transparent;
    transform: translateY(4px) translateX(3px);
}
.pronunciationButton img{
    height: 50px;
    width: 50px;
}
.definition {
    font-size: 60px;
    line-height: 1.4;
}
.quote {
    margin-top: 80px;
    font-size: 48px;
    font-style: italic;
    line-height: 1.5;
}

/*REFERING TO THE ABOUT PAGE*/
.about{
    display: flex;
    flex-direction: row;
    padding: 0 50px 100px 250px;
}
.aboutText{
    display: flex;
    flex-direction: column;
    max-width: 50%;
}
.questionHeading{
    font-weight: bold;
    font-size: 70px;
    margin-bottom: 0%;
    margin-top: 0%;
    
}
.answerText{
    font-size: 20px;
    font-weight: 600;
    margin-top: 0%;
    margin-bottom: 25px;
    line-height: 1.5;
}
.aboutPicBox{
    display: flex;
    flex-direction: column;
    flex: 1;
    
    align-items: center;
    justify-content: center;
}
.profilePic{
    height: 600px;
    width: 600px;
    
}
.aboutName{
    padding: 0;
    font-size: 60px;
    margin: 0;
    font-weight: bold;
}

/*REFERING TO THE PROJECTS PAGE*/


/*REFERING TO THE PORTFOLIO PAGE*/


/*REFERING TO THE CONTACT PAGE*/




.airborne-drifter {
    position: fixed;

    left: -400px;

    width: 600px;

    pointer-events: none;

    z-index: -1;

    animation-name: drift, bob;
    animation-timing-function: linear, ease-in-out;
    animation-iteration-count: 1, infinite;
}


/* Move across the screen */
@keyframes drift {

    from {
        left: -600px;
    }

    to {
        left: calc(100vw + 600px);
    }

}


/* Bob gently up and down */
@keyframes bob {

    0%, 100% {
        transform: translateY(calc(-1 * var(--bob-height)));
    }

    50% {
        transform: translateY(var(--bob-height));;
    }

}